html, body {
    height:100%;
}
body {
    background-image: url(images/pretty.fish.jpeg);
}

/* nav ul{
    display:flex;
    list-style-type: None;
    justify-content: space-around;
    align-items:center;
}
nav ul li {
    color:white;
} */

#header-text {
    font-size:40px;
}

.text-container {
    display:flex;
    justify-content:center;
    height: 60%;
    background-color:rgb(255, 240, 245, 0.8);
    flex-direction:column;
    text-align:center;
    align-self: center;
}

hr {
    width:100%;
    margin: 30px 0 30px 0;
    border: 1px solid darkgray;
}
