@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    margin:0;
    padding:0;
    font-family: 'Playfair Display', serif;
}

html, body {
    width:100%;
    height:100%;
    /* background-color:#bf70ff; */
}

/* PAGE STRUCTURE */
body {
    display:grid;
    grid-template-rows: auto 1fr auto;
    background-image: url(images/pretty.fish.jpeg);
    background-size:cover;
    font-size: 16px;
    font-family: 'Playfair+Display&display'
}
/* NAVIGATION STYLES */
nav {
    background-color:black
}
nav ul {
    text-align:right;
}
nav ul li {
    display:inline-block;
    text-align:right;
}

nav ul li a {
    display: block;
    color:floralwhite;
    padding: 1em;
    text-decoration: none;
}

nav ul li a:hover {
    background-color:gray;
}


.btn-container {
    display:flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    background-color: #e3bfff;
    align-self: center;
    justify-content: center;
    justify-self: center;
    align-items: center;
}
.btn{
    width: 50%;
    height: 10%;
    
}

.nav-selected{
    background-color: darkgray;
}